/*
color scheme:
  green: #31da47
  blue: #1499D3
  navy: #4D6684
  grey: #3D3D3D
  orange: #E74700
*/

/*
color scheme:
  green: #31da47
  blue: #1499D3
  navy: #4D6684
  grey: #3D3D3D
  orange: #E74700
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


* {
  padding: 0;
  margin: 0;
/*   background-color: rgba(0,0,255,0.2); */
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #E7DFDD;
}

a {
  color: #31da47;
}

p {
  text-align: justify;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  text-align: center;
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
}

h3 {
  margin: 15px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  /* text-shadow: 0 0px 6px black; */
}

h4 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style-type: square;
}

.aligncenter {text-align: center;}

.flexrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.last {margin-right: 0 !important;}

div.spacer {height: 16px;}


/*navbar master*/
.navbar {
  height: 80px;
  position: fixed;
  width: 100%;
  background: linear-gradient(to left, rgb(42, 107, 22), rgb(110, 180, 45));
  color: white;
  border-bottom: 5px solid white;
}

.navwidthwrapper {
  width: 90%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: auto 0;
}

.navigation {
  flex-wrap: nowrap;
  justify-content: space-between;
}

.navigation a {
  display: block;
  padding: 0 25px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 115%;
  font-family: 'Raleway', sans-serif;
  height: 100%;
  line-height: 75px;
}

.navspacer {height: 80px; width: 100%;}

/*phone rearrangement*/
@media screen and (max-width: 720px) {
  .navwidthwrapper {
    margin: 0 10px 0 20px;
    width: auto;
  }
}

@media screen and (max-width: 540px) {
  h1 {font-size: 24px;}
}

/*tiny phone rearrangement*/
@media screen and (max-width: 500px) {
  .logo {width: 100px;}
  .navigation a {
    padding: 0 10px;
  }
  .navigation .cvnav {
    padding: 0 15px;
  }
}

@media screen and (max-width: 400px) {
  .navigation a {
    font-size: 14px;;
    width: auto;
    padding: 0 5px;
  }
  .navigation .cvnav {
    padding: 0 10px;
  }
  .navwidthwrapper {
    margin: 0 10px 0 10px;
  }
}


/***maincontent***/

.maincontent > div > .contentwidthwrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 20px;
}

.maincontent > div:nth-child(1) {
  background: linear-gradient(rgb(126, 125, 125), #3D3D3D);
  color: white;
} 

.maincontent > div:nth-child(2) {
  background: linear-gradient( rgb(65, 131, 212), rgb(44, 76, 116)); 
  color: white;
}

.maincontent > div:nth-child(3) {
  background: linear-gradient( rgb(78, 189, 78), rgb(18, 97, 38)); 
  color: white;
}

.maincontent > div:nth-child(4) {
  background: linear-gradient( rgb(163, 60, 189), rgb(100, 29, 128)); 
  color: white;
}


/***about***/
.description_about img {
  border: 5px solid #31da47;
  border-radius: 100%;
  width: 100%;
  max-width: 300px;
}

.description_about > div > p {
  max-width: 480px;
}

.description_about > div {
  margin-bottom: 20px;
}

.about .contentwidthwrapper .flexrow {
  align-items: center;
}

.about .flexrow div:first-child > * {
  margin-bottom: 15px;
  display: block;
}

.description_about .flexrow div:nth-child(1) {
  max-width: 600px;
}
.description_about div:nth-child(2) {
  max-width: 300px;
  width: 97%;
}

@media screen and (max-width: 950px) {
  .description_about {
    flex-direction: column-reverse;
  }
}


/*resume*/

.resume .flexrow {
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.viewpdf, .downloadpdf {
  display: block;
  padding: 15px;
  margin: 30px 0px;
  width: 47%;
  text-align: center;
  background-color: white;
  border: 5px solid #31da47;
  /*border-radius: 5px;*/
}

.resume img {
  width: 80%;
  margin: 0 auto;
  display: block;
  border: 5px solid #31da47;
}

@media screen and (max-width: 500px) {
  .resume .flexrow, .resume img { width: 100%;}
  .viewpdf, .downloadpdf {
    padding: 15px 5px;
    margin: 15px 0px;
  }
  .viewpdf > span, .downloadpdf > span {
    display: block;
  }
}


/***portfolio***/
.portfolio > div > h2 {
  margin-bottom: 50px;
}

.portfolioscreenshots > .flexrow {
  align-items: center;
  margin-bottom: 40px;
}

.portfolioscreenshots img {
  border: 5px solid #31da47;
  width: 100%;
  max-width: 480px;
}

.portfolioscreenshots > .flexrow > div {
  width: 225px;
}

.portfolioscreenshots > .flexrow:nth-child(even) > div > * {
  text-align: right;
}

.portfolioscreenshots > .flexrow:nth-child(odd) > div > * {
  text-align: left;
}

@media screen and (max-width: 900px) {
  .portfolioscreenshots > .flexrow > div { /*text box inside*/
    width: 80%;
    margin: 20px 10%;
    order: 2;
  }

  .portfolioscreenshots > .flexrow > div > * {
    text-align: justify !important;
  }
}

.curriculumvitae p {
  margin-bottom: 20px;
}
.curriculumvitae li {
  margin-bottom: 30px;
  margin-left: 25px;
}

.curriculumvitae h3 {
  margin-top: 40px;
}

.tableul > li {
  display: inline-block;
  margin-left: 15px;
  margin-bottom: 15px;
}
.tableul > li:before {
  content: '\ffed';
  margin-right: 0.3em;
}

/***CV***/
.cv h3 {
  text-align: center;
  font-weight: 900;
}

.cv h4 {
  margin: 15px 0;
  text-align: left;
}


/***contact***/
.about_contact {
  width: 50%;
  margin: 20px auto;
}

@media screen and (max-width: 720px) {
  .about_contact {width: 80%;}
}

.contact ul li, .contact .accounts p {
  margin-bottom: 15px;
  text-align: center
}


/***footer***/
.footer {
  background: linear-gradient(#E7DFDD, rgb(207, 205, 204));
}

.footercontent {
  width: 90%;
  /*height: 100%;*/
  max-width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  color: #0E0B16;
  padding: 20px 0;
}

.footercontent > div {
  margin-bottom: 30px;
}

.footercontent .newest {
  width: 100%;
}

.newest_scroll {
  height: 250px;
  overflow-y: scroll;
  background: linear-gradient(#cfc8c6, #b6b3b1);
  padding: 30px;
}

.newest h3 {
  text-align: center;
}

.newest li {
  margin-bottom: 30px;
  margin-left: 25px;
}

.newest li:last-child {
  margin-bottom: 0;
}

.about_site, .around_web  {
  max-width: 50%;
}

.about_site h4, .around_web h4{
  margin-bottom: 20px;
}

.footer .around_web img {
  height: 80px;
}

.around_web {
  text-align: center;
}
.around_web img {
  display: inline-block;
  margin: 10px;
}


.copyright {
  color: #0E0B16;
  padding: 20px;
}

.copyright p {
  text-align: center;
}
