/*
color scheme:
  bright green: #31ee4a
  darker green: #00c842
  blue: #1499D3
  navy: #4D6684
  grey: #3D3D3D
  orange: #E74700
*/

:root {
    --color-bg-1: linear-gradient(hsl(34, 5%, 28%), #262c2c); /* #262c2c; */
    --color-bg-2: linear-gradient(hsl(213, 66%, 50%), hsl(213, 90%, 17%)); /* #1B3B6F #4D6684 hsl(213, 63%, 38%) */
    --color-accent-light: #23f569; /* #09BC8A; */
    --color-accent-dark: hsl(138, 98%, 31%); /* #09BC8A; */
    --color-black: #161619; /* #001021 #225696 */
    --color-white: hsl(240, 100%, 98%); /* #FBF5F3 FAFAFF #F4F3EE D7F9FF F6F8FF EBEBEB */
}

/* Resets */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    /*   background-color: rgba(0,0,255,0.2); */
    font-family: "Barlow", sans-serif;
    line-height: 1.3em;
    color: var(--color-white);
}

body {
    text-shadow: 0 1px 8px rgba(0, 0, 0, 0.664);
}

a,
.color-accent-light {
    color: var(--color-accent-light);
}

.color-accent-dark {
    color: var(--color-accent-dark);
}

img,
.pop-box-shadow {
    box-shadow: 0 3px 6px var(--color-black);
}

.no-shadow {
    text-shadow: none;
}

a {
    font-size: 1.2rem;
}

p {
    text-align: justify;
    font-size: 1.1rem;
}

span {
    font-size: 1.1rem;
}

h1 {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: inherit;
    font-size: 2em;
}

h2 {
    text-align: center;
    margin: 20px 0;
    font-family: "Raleway", sans-serif;
}

h3 {
    margin: 15px 0;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

h4 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.navtarget {
    position: relative;
    top: -80px;
}


/* strong text shadow */

a,
h1,
h2,
h3,
h4,
.strong-shadow {
    text-shadow: 0 4px 4px var(--color-black);
}

li {
    list-style-type: square;
}

.aligncenter {
    text-align: center;
}

.flexrow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.last {
    margin-right: 0 !important;
}


/*navbar master*/

.navbar {
    height: 80px;
    position: fixed;
    width: 100%;
    background: var(--color-accent-dark);
    color: var(--color-white);
    border-bottom: 5px solid var(--color-white);
}

.navwidthwrapper {
    width: 90%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    margin: auto 0;
}

.navbar .logo a {
    color: var(--color-white);
    text-decoration: none;
}

.navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
}

.navigation a {
    display: block;
    padding: 0 25px;
    text-align: center;
    color: var(--color-white);
    text-decoration: none;
    font-size: 115%;
    font-family: "Raleway", sans-serif;
    height: 100%;
    line-height: 75px;
}

.navspacer {
    height: 80px;
    width: 100%;
}


/*phone rearrangement*/

@media screen and (max-width: 810px) {
    .navigation > a:first-child {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .navwidthwrapper {
        margin: 0 10px 0 20px;
        width: auto;
    }
}

@media screen and (max-width: 658px) {
    h1 {
        font-size: 24px;
    }
}


/*tiny phone rearrangement*/

@media screen and (max-width: 500px) {
    .logo {
        width: 100px;
    }
    .navigation a {
        padding: 0 12px;
    }
    .navigation .cvnav {
        padding: 0 15px;
    }
}

@media screen and (max-width: 400px) {
    .navigation {
        flex-grow: 1;
    }
    .navigation a {
        font-size: 14px;
        width: auto;
        padding: 0 5px;
    }
    .navigation .cvnav {
        padding: 0 10px;
    }
    .navwidthwrapper {
        margin: 0 10px 0 10px;
    }
}


@media screen and (max-width: 300px) {
    h1 {
        font-size: 16px;
    }
}


/***maincontent***/

.maincontent>div>.contentwidthwrapper {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0px;
}

.maincontent>div>.contentwidthwrapper>* {
    margin: 30px 0 60px 0;
}

.maincontent>div>.contentwidthwrapper>h2 {
    margin-bottom: 20px;
}


/* Section colors */
.maincontent>div:nth-child(2n+1) {
    background: var(--color-bg-1);
}

.maincontent>div:nth-child(2n) {
    background: var(--color-bg-2);
}


/***about***/

.description_about img {
    border: 2px solid var(--color-accent-light);
    border-radius: 100%;
    width: 100%;
    max-width: 300px;
}

.description_about>div>p {
    max-width: 480px;
}

.about .contentwidthwrapper .flexrow {
    align-items: center;
}

.about .flexrow div:first-child>* {
    margin-top: 15px;
    display: block;
}

.description_about .flexrow div:nth-child(1) {
    max-width: 600px;
}

.description_about div:nth-child(2) {
    max-width: 300px;
    width: 97%;
}

@media screen and (max-width: 950px) {
    .description_about {
        flex-direction: column-reverse;
    }
}



/***portfolio***/

.portfolioscreenshots>.flexrow {
    align-items: center;
    margin-bottom: 40px;
}

.portfolioscreenshots img {
    border: 2px solid var(--color-accent-light);
    width: 100%;
    max-width: 480px;
}

.portfolioscreenshots>.flexrow>div {
    width: 225px;
}

.portfolioscreenshots>.flexrow:nth-child(even)>div>* {
    text-align: right;
}

.portfolioscreenshots>.flexrow:nth-child(odd)>div>* {
    text-align: left;
}

@media screen and (max-width: 900px) {
    .portfolioscreenshots>.flexrow>div {
        /*text box inside*/
        width: 80%;
        margin: 20px 10%;
        order: 2;
    }
    .portfolioscreenshots>.flexrow>div>* {
        text-align: justify !important;
    }
    .portfolioscreenshots>.flexrow>div>h3 {
        text-align: left !important;
    }
}

@media screen and (max-width: 376px) {
    .portfolioscreenshots>.flexrow>div>* {
        text-align: left !important;
    }
}


/***resume***/

.resume > .contentwidthwrapper > .flexrow {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.viewpdf,
.downloadpdf {
    display: block;
    padding: 15px;
    margin: 30px 0px;
    width: 47%;
    text-align: center;
    background-color: white; /* var(--color-white); */
    border: 2px solid var(--color-accent-light);
    /*border-radius: 5px;*/
}

.viewpdf span,
.downloadpdf span {
    color: var(--color-black);
}

.resume img {
    width: 80%;
    margin: 0 auto;
    display: block;
    border: 2px solid var(--color-accent-light);
}

@media screen and (max-width: 500px) {
    .resume .flexrow,
    .resume img {
        width: 100%;
    }
    .viewpdf,
    .downloadpdf {
        padding: 15px 5px;
        margin: 15px 0px;
    }
    .viewpdf>span,
    .downloadpdf>span {
        display: block;
    }
}


/***contact***/

.about_contact {
    width: 50%;
    margin: 20px auto;
}

@media screen and (max-width: 720px) {
    .about_contact {
        width: 80%;
    }
}

.contact ul li,
.contact .accounts p {
    margin-bottom: 15px;
    text-align: center;
}


/***footer***/

.footer {
    background: #202020;
}

.footercontent {
    width: 90%;
    /*height: 100%;*/
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    /* color: #baadf7; */
    /* text-shadow: 0 1px 8px rgba(0, 0, 0, 0.664); */
    padding: 20px 0;
}

.footercontent>div {
    margin-bottom: 30px;
}

.footercontent .newest {
    width: 100%;
}

.newest_scroll {
    height: 250px;
    overflow-y: scroll;
    background: var(--color-black);
    padding: 30px;
}

.newest h3 {
    text-align: center;
}

.newest li {
    margin-bottom: 30px;
    margin-left: 25px;
}

.newest li:last-child {
    margin-bottom: 0;
}

.about_site,
.around_web {
    width: 100%;
}

.about_site h4,
.around_web h4 {
    margin-bottom: 20px;
}

.around_web {
    text-align: center;
}

.around_web img {
    height: 80px;
    background-color: var(--color-black);
    background-blend-mode: hue;
    display: inline-block;
    margin: 10px;
    border-radius: 8px;
}

.copyright {
    /* color: #0e0b16; */
    padding: 20px;
}

.copyright p {
    text-align: center;
}