/*
color scheme:
  green: #83AA30
  blue: #1499D3
  navy: #4D6684
  grey: #3D3D3D
  orange: #E74700
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


* {
  padding: 0;
  margin: 0;
/*   background-color: rgba(0,0,255,0.2); */
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #E7DFDD;
}

a {
  color: #83AA30
}

p {
  text-align: justify;
}

h2 {
  text-align: center;
  margin: 20px 0;
}

h3 {
  margin: 15px 0;
}

.aligncenter {text-align: center;}



/*navbar master*/
.navbar {
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: #83AA30;
  color: white;
  border-bottom: 5px solid white;
}

.navwidthwrapper {
  width: 90%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: auto 0;
}

.navigation {
  padding: 10px;
}

.navigation li {
  display: inline-block;
  padding: 20px;
  margin: 0 10px;
  text-align: center;
  color: white;
}

.navspacer {height: 80px; width: 100%;}

.navtarget {

}



.maincontent > div > .contentwidthwrapper {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 20px;
}

.maincontent > div:nth-child(odd) {
  background-color: #3D3D3D;
  color: white;
}

.maincontent > div:nth-child(even) {
  background-color: #4D6684;
  color: white;
}

.flexrow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/***about***/
.description_about img {
  border: 5px solid #83AA30;
  border-radius: 100%;
  height: 100vw;
  max-height: 300px;
}

.about .contentwidthwrapper .flexrow {
  align-items: center;
}

.about .flexrow div:first-child > * {
  margin-bottom: 15px;
  display: block;
}

.about .flexrow div:nth-child(1) {
  max-width: 600px;
}
.about .flexrow div:nth-child(2) {
  max-width: 300px;
}


/*resume*/

.resume .flexrow {
  width: 83%;
  margin: 0 auto;
}

.viewpdf, .printpdf {
  display: block;
  padding: 15px;
  margin: 30px 0px;
  width: 47%;
  text-align: center;
  background-color: white;
  border: 5px solid #83AA30;
  /*border-radius: 5px;*/
}


.resume img {
  width: 80%;
  margin: 0 auto;
  display: block;
  border: 5px solid #83AA30;
}


/***portfolio***/

.portfolioscreenshots > .flexrow {
  align-items: center;
  margin-bottom: 40px;
}

.portfolioscreenshots img {
  border: 5px solid #83AA30;
  width: 100%;
  max-width: 480px;
}

.portfolioscreenshots > .flexrow > div {
  width: 225px;
}

.portfolioscreenshots > .flexrow:nth-child(even) > div > * {
  text-align: right;
}


/***contact***/
.contact ul li, .contact p {
  margin-bottom: 15px;
  text-align: center
}

.contact p {
  margin-bottom: 15px;
}

.contact form {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.contact form input {
  padding: 8px;
}

.contact .messageinput {
/*   width: 80%; */
}

/***footer***/
.footer {
  background-color: #E7DFDD;
}

.footercontent {
  width: 90%;
  /*height: 100%;*/
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: #0E0B16;
  padding: 20px 0;
  text-align: center;
}

.copyright {
  text-align: center;
  background-color: #E74700;
  color: white;
  padding: 20px;
}



/*under desktop rearrangement*/
@media screen and (max-width: 900px) {
  .navigation li {
    display: inline-block;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    color: white;
  }
}

/*phone rearrangement*/
@media screen and (max-width: 720px) {
  .navwidthwrapper {
    margin: 0 10px 0 20px;
  }

  h1 {font-size: 24px;}



  .navigation li {
    display: inline-block;
    padding: 20px 0;
    margin: 0 10px;
    text-align: center;
    color: white;
  }
}

/*tiny phone rearrangement*/
@media screen and (max-width: 400px) {
  .logo {width: 100px;}
  .navigation {padding: 10px 0;}
}
